{% extends 'pages/base.html' %} {% load static %} {% block title %} Schedule
{%endblock %} {% block section %}
<section>
  <div class="h-screen px-8 md:px-32">
    <div class="grid md:grid-cols-2 gap-8 auth-body mt-4">
      <form
        action="{% url 'register' %}"
        method="post"
        class="px-4 poppins-bold my-auto"
      >
        {% csrf_token %}
        <div class="analytics-header mb-4">
          <h1 class="mt-4 flex gap-2 text-2xl">
            <span>Get Started with</span>
            <p class="flex">
              <img src="{% static 'icons/logo.png' %}" class="w-8" alt="logo" />
              <span class="text-blue-1">Pulse</span>
            </p>
          </h1>
        </div>
        <div class="form-control poppins-medium mb-4">{{form.email}}</div>
        <div class="form-control poppins-medium text-xs mb-4">
          {% if form.email.errors %}
          <ul class="errorlist">
            {% for error in form.email.errors %}
            <li class="text-red-500 poppins-bold">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="form-control poppins-medium mb-4">{{form.x_handle}}</div>
        <div class="form-control poppins-medium text-xs mb-4">
          {% if form.x_handle.errors %}
          <ul class="errorlist">
            {% for error in form.x_handle.errors %}
            <li class="text-red-500 poppins-bold">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="form-control mb-8">
          <button
            disabled="true"
            id="submitbtn"
            type="submit"
            class="w-full rounded-md bg-gray-bold text-white text-xs py-3 px-6 disabled:cursor-not-allowed"
          >
            <span class="">Authenticate</span>
          </button>
        </div>
        <div class="form-control poppins-regular text-center">
          <p>
            Already have an account?
            <a href="#" class="text-blue-1 poppins-bold underline">Sign In</a>
          </p>
        </div>
      </form>
      <div class="hidden md:grid">
        <img src="{% static 'icons/manage.jpg' %}" alt="" />
      </div>
    </div>
  </div>
</section>

{% endblock %} {% block script %}
<script src="{% static 'js/validateForm.js' %}"></script>
{% endblock %}
