{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/tailwind.config.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="src/img/logo-alt.png" />
    <!-- Animations -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <main>
      {% if user.is_authenticated %}
      <!-- Dropdown for sm devices -->
      <div
        id="dropdown"
        class="hidden dropdown w-full absolute top-16 z-10 animate__animated animate__fadeIn"
      >
        <ul class="bg-white bs-1 px-8 pb-2 text-sm poppins-medium">
          <li class="flex gap-2">
            <img
              src="{% static 'icons/clock.png' %}"
              class="w-4 my-auto"
              alt="clock"
            />
            <a href="index.html" class="py-2 my-auto">Schedule</a>
          </li>
          <li class="flex gap-2">
            <img
              src="{% static 'icons/post.png' %}"
              class="w-4 my-auto"
              alt=""
            />
            <a href="posts.html" class="py-2">Posts</a>
          </li>
          <li class="flex gap-2">
            <img
              src="{% static 'icons/message.png' %}"
              class="w-4 my-auto"
              alt="message"
            />
            <a href="messages.html" class="py-2">Messages</a>
          </li>
          <li class="flex gap-2">
            <img
              src="{% static 'icons/clock.png' %}"
              class="w-4 my-auto"
              alt="analytics"
            />
            <a href="analytics.html" class="py-2">Analytics</a>
          </li>
          <li class="flex gap-2">
            <img
              src="{% static 'icons/notification.png' %}"
              class="w-4 my-auto"
              alt="notifications"
            />
            <a href="notifications.html" class="py-2">Notifications</a>
          </li>
          <hr class="h-0.5 bg-gray-faded" />
          <li class="flex mt-2">
            <a href="index.html#createpost" class="flex gap-2 w-full">
              <img
                src="{% static 'icons/plus.png' %}"
                class="w-4 my-auto"
                alt="plus"
              />
              <span class="py-2">New Post</span>
            </a>
          </li>
        </ul>
      </div>
      {% endif %}
      <nav class="border-b relative z-10">
        <div class="px-8 md:px-16 py-4">
          <!-- Navigation for sm devices -->
          <ul class="flex justify-between gap-4 md:hidden">
            <li class="grow my-auto flex">
              <a href="index.html" class="mr-auto poppins-medium"
                ><img src="{% static 'icons/logo.png' %}" class="w-8"
              /></a>
            </li>
            {% if user.is_authenticated %}
            <li>
              <button id="dropdownbtn">
                <img
                  src="{% static 'icons/menu.png' %}"
                  class="w-8 my-auto"
                  alt="menu icon"
                />
              </button>
            </li>

            {% else %}
            <li class="my-auto">
              <a
                href="{% url 'register' %}"
                class="flex bg-blue-100 poppins-bold text-xs text-blue-500 px-4 py-1 rounded-2xl"
                >Register</a
              >
            </li>
            {% endif %}
          </ul>
          {% if user.is_authenticated %}
          <!-- Navigation for lg devices -->
          <ul class="hidden md:flex gap-4 text-xs poppins-medium">
            <li class="grow my-auto flex">
              <a href="{% url 'home' %}">
                <img src="{% static 'icons/logo.png' %}" class="w-8" />
              </a>
            </li>
            <li class="my-auto">
              <span
                class="{% if request.resolver_match.view_name == 'home' %} poppins-bold {% endif %}"
              >
                <a href="{% url 'home' %}">Schedule</a>
              </span>
            </li>
            <li class="my-auto">
              <span
                class="{% if request.resolver_match.view_name == 'posts' %} poppins-bold {% endif %}"
              >
                <a href="{% url 'posts' %}">Posts</a>
              </span>
            </li>
            <li class="my-auto">
              <span
                class="{% if request.resolver_match.view_name == 'messages' %} poppins-bold {% endif %}"
                ><a href="{% url 'messages' %}">Messages</a></span
              >
            </li>
            <li class="my-auto">
              <span
                class="{% if request.resolver_match.view_name == 'analytics' %} poppins-bold {% endif %}"
                ><a href="{% url 'analytics' %}">Analytics</a></span
              >
            </li>
            <li class="my-auto">
              <span
                class="{% if request.resolver_match.view_name == 'notifications' %} poppins-bold {% endif %}"
                ><a href="{% url 'notifications' %}">Notifications</a>
              </span>
            </li>
            <li class="my-auto">
              <a
                href="{% url 'home' %}#createpost"
                class="bg-blue-1 text-white px-4 py-1 rounded-2xl"
              >
                New Post
              </a>
            </li>
            <li class="flex gap-2">
              <img
                src="{% static 'icons/p-1.jpg' %}"
                class="w-8 h-8 rounded-full my-auto"
                alt="account image"
              />
              <a
                href="{% url 'logout' %}"
                class="bg-red-100 text-red-500 px-4 py-1 rounded-2xl my-auto"
                >Log out</a
              >
            </li>
          </ul>
          {% else %}
          <ul class="hidden md:flex gap-4 text-xs poppins-medium">
            <li class="grow my-auto flex">
              <a href="{% url 'home' %}">
                <img src="{% static 'icons/logo.png' %}" class="w-8" />
              </a>
            </li>
            <li class="my-auto">
              <a
                href="{% url 'register' %}"
                class="text-white px-4 py-1 rounded-2xl bg-black"
                >Register</a
              >
            </li>
            <li class="my-auto">
              <a
                href="{% url 'login' %}"
                class="text-white px-4 py-1 rounded-2xl bg-black"
                >Login</a
              >
            </li>
          </ul>
          {% endif %}
        </div>
      </nav>

      {% block section %}{% endblock %}
    </main>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>
